body {
    background: rgb(223, 106, 11) url("images/background.jpg") no-repeat;
    background-size: cover;
}
.container {
    margin-top: 250px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.card {
    background: rgb(235, 110, 9);
    width: 465px;
    height: 300px;
    margin: auto;
}